@media (max-width: 1200px) {
    .item {
        width: calc(33.333% - 20px);
    }
}

@media (max-width: 992px) {
    .item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .intro {
        padding: 20px;
        margin-top: 30px;
        flex-direction: column;
    }

    .intro h2 {
        font-size: 36px;
    }

    .intro p {
        font-size: 18px;
        text-align: start;
    }

    .menu {
        padding: 10px;
        margin-left: 0;
    }

    .menu h3 {
        font-size: 28px;
    }

    .item {
        width: calc(100% - 20px);
    }

    footer {
        padding: 20px;
    }

    footer p {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .intro h2 {
        font-size: 28px;
    }

    .intro p {
        font-size: 16px;
    }

    .menu h3 {
        font-size: 24px;
    }

    footer p {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    header {
        width: 450px;

    }

    footer {
        width: 100%;
    }

    footer img {
        width: 100%;
    }
}