* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Outfit, sans-serif;
    color: #333;
    background-color: #F4F4F3;
}

.logo {
    height: 31px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 3vw;
    background-color: #F9F9F9;
    border: 1px solid #E2D8D3;
    box-shadow: 0px 0px 44px 8px rgba(161, 128, 114, 0.12);
    width: 100%;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

.cart-container {
    position: relative;
}

.cart-icon img {
    cursor: pointer;
    width: 61.5px;
}

.cart-vegano {
    height: 40%;
    width: 60%;
}

.subMenu {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    gap: 20px;
}

.content-left, .content-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-left {
    margin-top: 35px;
    align-items: flex-start;
}

.product-img {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.back-link {
    font-size: 1rem;
    color: #a18072;
    text-decoration: underline;
}

.back-link:hover {
    color: #c1b590;
}

h2 {
    margin-top: 65px;
    font-size: 40px;
    color: #796056;
    width: 100%;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
}

.price {
    font-size: 40px;
    color: #31312f;
    font-weight: 400;
    line-height: 1.2;
}

.description {
    font-size: 16px;
    font-weight: 400;
    color: #8d8d86;
    line-height: 1.2;
    letter-spacing: 0;
}

button {
    background-color: #a18072;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a3e33;
}

.observation-container {
    margin: 10px 0;
}

.observation-container label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.quantity-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.quantity-input {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.quantity-btn {
    background-color: #a18072;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 30px;
}

.buy-button {
    margin-left: 30px;
}

#quantity {
    width: 40px;
    text-align: center;
    border: none;
    outline: none;
    padding: 5px;
    margin: 0 5px;
}

